body{
    background-image: url(../Imagens/i552851.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}
.tab {
    padding: 20px;
    display: none;
}

h3{
    color: #C97C38;
    position: relative;
    right: -425px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45px;
}

ol{
    color: white;
    font-style: italic;
    font-size: 19px;
}

a{
    color: #1BBABE;
    font-family: 'Times New Roman', Times, serif;
}

#barra{
    background-color: #222222 !important;
    padding: 0;
}

.nav-item{
    padding-top: 8px;
    padding-bottom: 8px;
}

img{
    height: 250px;
}

.slide{
    width: 400px;
}

.carousel{
    right: -430px;
}

.carousel-indicators{
    position: relative;
    top: 300px !important;
    right: 300px !important;
}

.carousel-item{
    text-align: center;
}

.p2{
    right: -530px;
}

p{
    color: white;
    font-size: 19px;
}

.carousel-indicators{
    top: 10px !important;
}


   

.sun{
    height: 120px;
    width: 120px;
    background-image: url(../Imagens/sun-png-free-download-10.png);
    border-radius: 50%;
    background-size: cover;
    box-shadow: -4px 2px 56px #f9c05f;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}

.mercury{
    height: 20px;
    width: 20px;
    background: #a94c2b;
    border-radius: 50%;
    position: absolute;
    box-shadow: -4px 2px 56px #f9c05f;
    left: 42%;
    top: 42%;
    transform: translate(-50%,-50%);
    animation: orbit2 2s linear infinite;
}

@keyframes orbit2{
    from{transform: rotate(0deg)translateX(60px) rotate(0deg);}
    to{transform: rotate(360deg)translateX(60px) rotate(-360deg);}
}


.mercury-outline,.venus-outline-1,.earth-outline-1,.mars-outline-1,.jupiter-outline-1,
.saturn-outline-1,.uranus-outline-1,.neptune-outline-1{
    border-radius: 50%;
    border: 1px dotted #ddd9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.mercury-outline{
    height: 105px;
    width: 105px;
}

.venus{
        height: 40px;
        width: 40px;
        background-image:url(../Imagens/venus_globe9156235_thumb.jpg);
        background-size: 100%;
        border-radius: 50%;
        position: absolute;
        box-shadow: -4px 2px 56px #c1aa81;
        left: 42.5%;
        top: 41%;
        transform: translate(-50%,-50%);
        animation: orbit3 10s linear infinite;
}

@keyframes orbit3{
    from{transform: rotate(0deg)translateX(110px) rotate(0deg);}
    to{transform: rotate(360deg)translateX(110px) rotate(-360deg);}
}

.venus-outline-1{
    height: 200px;
    width: 200px;
}

.earth{
    height: 50px;
    width: 50px;
    background-image:url(../Imagens/098366e6994dd75ab46b47cd27b2c9d4-icone-do-planeta-terra.png);
    background-size: 100%;
    border-radius: 50%;
    position: absolute;
    box-shadow: -4px 2px 56px #2855d6;
    left: 42%;
    top: 43%;
    transform: translate(-50%,-50%);
    animation: orbit4 20s linear infinite;
}

@keyframes orbit4{
from{transform: rotate(0deg)translateX(171px) rotate(0deg);}
to{transform: rotate(360deg)translateX(171px) rotate(-360deg);}
}

.earth-outline-1{
height: 350px;
width: 350px;
}

.earth-circle{
    height: 65px;
    width: 65px;
    border: 1px dotted #fff;
    position: relative;
    left: -8px;
    top: -8px;
    border-radius: 40px;
}

.earth-inner{
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 45%;
    top: 45%;
    animation: orbit5 3s linear infinite;
}

@keyframes orbit5{
    from{transform: rotate(0deg)translateX(33px) rotate(0deg);}
    to{transform: rotate(360deg)translateX(33px) rotate(-360deg);}
}

.mars{
    height: 40px;
    width: 40px;
    background-image: url(https://thumbs.dreamstime.com/z/o-planeta-vermelho-marte-isolado-no-fundo-branco-parte-do-espaço-sistema-solar-d-rende-elementos-desta-imagem-é-fornecido-125809616.jpg);
    background-size: 100%;
    border-radius: 50%;
    position: absolute;
    box-shadow: -4px 2px 56px #c1aa81;
    left: 46.5%;
    top: 46.5%;
    transform: translate(-50%,-50%);
    animation: orbit6 30s linear infinite;
}

@keyframes orbit6{
from{transform: rotate(0deg)translateX(260px) rotate(0deg);}
to{transform: rotate(360deg)translateX(260px) rotate(-360deg);}
}

.mars-outline-1{
height: 530px;
width: 530px;
}

.jupiter{
    height: 40px;
    width: 40px;
    background-image:url(https://tm.ibxk.com.br/2021/05/12/12164405600395.jpg);
    background-size: 100%;
    border-radius: 50%;
    position: absolute;
    box-shadow: -4px 2px 56px #c1aa81;
    left: 47.8%;
    top: 47%;
    transform: translate(-50%,-50%);
    animation: orbit7 60s linear infinite;
}

@keyframes orbit7{
from{transform: rotate(0deg)translateX(320px) rotate(0deg);}
to{transform: rotate(360deg)translateX(320px) rotate(-360deg);}
}

.jupiter-outline-1{
height: 650px;
width: 650px;
}

.saturn{
    height: 45px;
    width: 45px;
    background-image:url(https://cdn.icon-icons.com/icons2/1434/PNG/256/08-saturn_98601.png);
    background-size: 100%;
    border-radius: 50%;
    position: absolute;
    box-shadow: -4px 2px 56px #c1aa81;
    left: 46%;
    top: 46.7%;
    transform: translate(-50%,-50%);
    animation: orbit8 10s linear infinite;
}

@keyframes orbit8{
from{transform: rotate(0deg)translateX(380px) rotate(0deg);}
to{transform: rotate(360deg)translateX(380px) rotate(-360deg);}
}

.saturn-outline-1{
height: 750px;
width: 750px;
}

.uranus{
    height: 30px;
    width: 30px;
    background-image:url(https://img.freepik.com/psd-premium/conceito-de-planeta-urano-isolado-em-fundo-transparente_879541-684.jpg);
    background-size: 100%;
    border-radius: 50%;
    position: absolute;
    box-shadow: -4px 2px 56px #c1aa81;
    left: 48%;
    top: 48%;
    transform: translate(-50%,-50%);
    animation: orbit9 90s linear infinite;
}

@keyframes orbit9{
from{transform: rotate(0deg)translateX(430px) rotate(0deg);}
to{transform: rotate(360deg)translateX(430px) rotate(-360deg);}
}

.uranus-outline-1{
height: 850px;
width: 850px;
}

.neptune{
    height: 30px;
    width: 30px;
    background-image:url(https://www.infoescola.com/wp-content/uploads/2008/04/netuno.jpg);
    background-size: 100%;
    border-radius: 50%;
    position: absolute;
    box-shadow: -4px 2px 56px #c1aa81;
    left: 48%;
    top: 48%;
    transform: translate(-50%,-50%);
    animation: orbit10 400s linear infinite;
}

@keyframes orbit10{
from{transform: rotate(0deg)translateX(470px) rotate(0deg);}
to{transform: rotate(360deg)translateX(470px) rotate(-360deg);}
}

.neptune-outline-1{
height: 935px;
width: 935px;
}

.mg{
    position: relative;
    margin-top: 450px;
}