body{
    background-image: url(../Imagens/i552851.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}
.tab {
    padding: 20px;
    display: none;
}

h3{
    color: #C97C38;
    position: relative;
    right: -425px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45px;
}

ol{
    color: white;
    font-style: italic;
    font-size: 19px;
}

a{
    color: #1BBABE;
    font-family: 'Times New Roman', Times, serif;
}

#barra{
    background-color: #222222 !important;
    padding: 0;
}

.nav-item{
    padding-top: 8px;
    padding-bottom: 8px;
}

img{
    height: 250px;
}

.slide{
    width: 400px;
}

.carousel{
    right: -430px;
}

.carousel-indicators{
    position: relative;
    top: 300px !important;
    right: 300px !important;
}

.carousel-item{
    text-align: center;
}

.p2{
    right: -530px;
}

p{
    color: white;
    font-size: 19px;
}